<html>
  <head>
  </head>
  <body>
    <h1>Express - Sequelize Example</h1>
    <ul>
      <% for(index in countries){ %>
        <li><%= countries[index].get('name') %>
      <% } %>
  </body>
</html>
